body{
    background-color: #2a2929;
    color: #fff;
}
h1{
    font-size: 1.5em;
    font-weight: normal;
    border-bottom: 2px solid rgb(2, 0, 146);
}
a{
    color: rgb(0, 145, 170);
    text-decoration: none;
}
a:hover{
    color: rgb(0, 192, 226);
    text-decoration: underline;
}
